<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="The Wayfarer Troop: the beginning!"/>
        <meta property="og:image" content="header.jpg"/>
        <meta property="og:description" content="10 states, 42 days, 11220 kilometers, 3 friends - The Wayfarer Troop. But before you vicariously travel to all the 
                                                    locations, how did this even begin? What was the Explorers Fellowship?"/>

        <meta name="twitter:card" content="summary_large_image">

        <title>The Wayfarer Troop: the beginning!</title>
        <link rel="icon" type="image/x-icon" href="/a.png">
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
        <link href='../../../css/astrostyles.css' rel='stylesheet'>
    </head>
    <body>
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
                <a class="nav nav--white" href="../india.html">
                    <i class="fa fa-lg fa-arrow-left"></i>
                    <span>Back to Posts</span>
                </a>
                <figure class="absolute-bg mast__img" style="background-image: url('header.jpg');"></figure>
                <div class="mast__container">
                    <span><time datetime="2017-02-21T00:00:00-07:00" itemprop="datePublished">Feb 21, 2017</time></span>
                    <h1 itemprop="name headline">The Wayfarer Troop: the beginning!</h1>
                    <!--span>Posted in 
                        {% for category in page.categories %}
                        <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <span></span-->
                </div>
            </header>

            <section class="section-padding bg-grey" itemprop="articleBody">
                <div class="post">

                    <p style="text-indent: 2em; font-size: 1em; margin-bottom: 26px; text-align: justify;"> 
                        It was somewhere in the mid of February 2016, when the mail was floated. There was a whirl of excitement among the students,
                        as it is the most sought after fellowship here at IIT Gandhinagar for freshmen and sophomores. Everyone I met, was either busy making 
                        their group or listing out the places they would like to visit during the fellowship.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Let me take a moment to tell you about the 'fellowship' that I'm talking about so that you get why even the thought was so exciting. 
                        So the Explorers Fellowship is a fellowship offered by our college, IIT Gandhinagar, to its students where the students have to go around 
                        travelling India for a period of 42 days. Oh, only if it was so easy! You need to travel to at least 6 states, one each from the north, 
                        north-east and the south on a budget of just Rs. 35000. No, that's not all! All the travelling you do must be either in state transport or by 
                        sleeper class railway. The main aim of this fellowship is for us, students, to understand how people in different parts of our country live. 
                        Most of us come from middle class or upper class families and hence do not understand the difficulties which other people face. This fellowship 
                        gives you a peek at the stark reality and helps you realize that you are so lucky!

                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Even though travelling 42 days without the comfort of a IIIAC compartment or the stylish Volvo buses was a bit unsettling, 
                        the idea of getting to travel around India that too with some of your closest friends was thrilling. I knew I had to take this opportunity, 
                        but would Mom let me go? I left this question unanswered and thought I would ask if I got selected for it.

                    </p>
                    
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Step I : Forming a group with whom you would be comfortable. Well, I already had one member in my group. The other two joined somehow, 
                        something which none of us remember exactly! But here we were, the four of us - me, Himanshu (my roommate), Mohit and Zainab - ready to make a 
                        commitment to travel together for 42 days, no matter what differences crept in. The next few days went in planning the 42 days of summer. The 
                        locations, the modes of commutation, the expenses etc. etc. etc. We had a complete plan ready by the day of the interview. Although the 
                        interview did not go well, we were selected!!!! We had been given an opportunity to go and explore different parts of India.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Now came the most important part - to tell Mom. I was unsure if Mom would let me go for the trip that too with a girl and I desperately wanted 
                        to go. I had a feeling that she would reject even the idea of wasting my summer travelling, instead of doing some internship. So I thought I'd 
                        tell her later (which did not come very soon).
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="travel_route.jpg" alt="Travel route" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Travel route planned for our fellowship</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        The semester ended soon and we had a concrete plan ready but I had still not told my parents about it 😛. I realized that it was time I told 
                        or I might have to lie about continuing my internship for the entire summer. I called my Mom one fine day, checked if her mood was okay and 
                        then just went with the flow. Surprisingly, she said yes but only after asking hundreds of questions. Mohit dropped out due to academic reasons 
                        and it was just us three, <strong>The Wayfarer Troop!</strong>
                    </p>
                    
                    <p style="margin-bottom: 26px; text-align: justify;">
                        A week before we were due to leave, we had all our bags packed, itinerary prepared, trains, buses, hostels and hotels booked, a plan ready for 
                        everyday in each of the places we were to visit. Little did we know of the unexpected, thrilling and draining events that lay ahead of us!
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Unlike the other teams, we started our journey in mid-June, by the time the monsoons had engulfed almost three-fourths of India. We wouldn't 
                        say that it was a consciously taken decision, but somehow (as you will read in the further posts) it turned out to be one of the best 
                        decisions of the trip!
                    </p>
                    <hr style="margin-top: 50px; width: 20%; height: 2px; color: #003471; background-color: #003471; border-color: #001329;">
                    <div class="mn-social-bottom-c" align="center">
                        <p>Share this article:</p>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a>
                        <a class="mn-social-bottom" target="_blank" data-action="share/whatsapp/share"><i class="fa fa-lg fa-whatsapp"></i></a>
                        <span id="copy" tooltip="Copy to clipboard"><a class="mn-social-bottom"><i class="fa fa-lg fa-link"></i></a></span>
                        <div class="shareLink">
                            <div class="permalink">
                                <input class="textLink" id="text" type="text" name="shortlink" value="" id="copy-link" readonly="">
                            </div>
                        </div>
                    </div>
                    <hr style="margin-top: 50px; width: 80%; color: #003471; border-color: #001329; margin-bottom: 50px;">
                    <div id="disqus_thread"></div>
                </div>
            </section>
        </article>
        <section class="next">
            <a class="next__link" href="../goa/goa.html" style="background-image: url('../goa/header.jpg');">
                <div class="next__container">
                    <span>Read Next</span>
                    <h2>The Sea, Sand, Beaches and much more...</h2>
                </div>
            </a>
        </section>
        <script id="rendered-js" src="../../../js/blogs.js">
        </script>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            
            var disqus_config = function () {
                this.page.url = window.location.url;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = window.location.url; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://wayfarer-troop-beginning.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//wayfarer-troop-beginning.disqus.com/count.js" async></script>
    </body>
</html>