<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Pattern Recognition: Humans, AI, ... Astrology?</title>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
        <link href='../../css/astrostyles.css' rel='stylesheet'>
    </head>
    <body>
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
                <a class="nav nav--white" href="../index.html">
                    <i class="fa fa-lg fa-arrow-left"></i>
                    <span>Back to Posts</span>
                </a>
                <figure class="absolute-bg mast__img" style="background-image: url('../../images/patternrecognition.png');"></figure>
                <div class="mast__container">
                    <span><time datetime="2024-01-08T00:00:00-07:00" itemprop="datePublished">Jan 8, 2024</time></span>
                    <h1 itemprop="name headline">Pattern Recognition: Humans, AI, ... Astrology?</h1>
                    <!--span>Posted in 
                        {% for category in page.categories %}
                        <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <span></span-->
                </div>
            </header>
          
            <section class="section-padding bg-grey" itemprop="articleBody">
                <div class="post">

                    <blockquote class="text-left-align">
                        <span style="margin-bottom: 26px;">
                            Insanity is doing the same thing over and over again and expecting different results.
                        </span>
                        <span class="author-name" style="font-size: 16px;">
                            - Albert Einstein
                        </span>
                    </blockquote>

                    <p style="text-indent: 2em; font-size: 1em; margin-bottom: 26px; text-align: justify;">
                        Individuals like you and me, who have walked the Earth for quite some time, have a fair understanding of how the world works and how we need to 
                        act in a variety of situations.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        While waiting to cross an intersection under normal circumstances, it wouldn't surprise us if a car zoomed past just as the light turned 
                        yellow. On the other hand, the traffic light pole suddenly disappearing, buildings turning inside out, or people's faces morphing into mythical 
                        creatures? Must be a dream or a Marvel movie.
                    </p>
        
                    <p style="margin-bottom: 26px; text-align: justify;">
                        After rigorous lessons and having driven hundreds of kilometers, it becomes second nature to take your foot off the accelerator and step on 
                        the brakes when you approach a red light. You subconsciously put on the indicators before you take a turn because, well, those are the rules 
                        that you learned. Some of you probably won't even require Google Maps to drive to places that you have already visited before. Your mind knows 
                        exactly which flyover to take and which lane to exit from.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        But picture this.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        You're a kid, maybe of one or two. Crawling on all fours, you reach the kitchen where your parents are scurrying around trying to prepare an 
                        elaborate meal for their friends who are about to arrive. Seeing you, mum lifts you up and props you on the kitchen platform so that you 
                        don't get hurt in all the commotion. You smell something wonderful nearby, look around and locate the likely source. What do you do?
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        You touch it.
                    </p>
                    
                    <p style="margin-bottom: 26px; text-align: justify;">
                        But the sensation that hits has you confused. You expected it to make you smile, but your tiny hand has turned all red. You turn to look at 
                        your mum and start bawling as the pain starts to seep in. Even though you don't really comprehend what just happened, one thing did get 
                        clearly ingrained in your brain. 
                    </p>

                    <h2 style="margin-top: 40px; margin-bottom: 40px; font-family: 'Lora'; font-size: 26px;">
                        NEVER touch ANYTHING on the kitchen platform. Even if it smells like heaven!!!
                    </h2>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        I'm sure a lot of you must have had such an experience in your childhood. I'm also sure that never again did you carelessly touch something 
                        on the stove with your bare hands.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        How did this happen though? How did you go from a baby who touched a hot utensil unknowingly, to knowing the exact moment to step on the brakes 
                        to make the vehicle come to a stop in time?
                    </p>

                    <h2 style="margin-bottom: 40px; margin-top: 40px; font-family: 'Lora'; color: #003471;">How do humans learn?</h2>

                    <p style="text-indent: 2em; margin-bottom: 26px; text-align: justify;">
                        Through brain imaging studies, neuroscientists have shown that on a molecular and cellular level, the human brain is remarkably similar to 
                        that of non-human primates and lower mammals. It retains many features of the brain structure and cellular organization of birds. 
                        Neuroanatomical and neurochemical considerations suggest that the superior intellectual capabilities of humans are largely a result of the 
                        increased number of neurons and synapses. For example, mice have 1 billion neurons in their nervous system as compared to humans that 
                        have approximately 30 billion only in the brain. It is this huge contrast in numbers and the integrated function of these pattern-processing 
                        networks that makes us mentally superior beings.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Basically what this means is that it is not the molecular or cellular structure of our brains that makes us different. It is instead, 
                        more of a numerical advantage. As the sheer number of neurons present and the strength of the connections between them increases, we become 
                        better at encoding humongous amounts of detailed patterns, integrating all of this information, and making appropriate decisions in pertinent 
                        situations.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        This is exactly what happens as we age.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        At about 18 months, we have all the necessary neurons and far more synapses than required. As we grow further, we perform some actions and 
                        perceive the outcome of those actions. This causes specific neurons to fire simultaneously, transmitting signals across the connection between 
                        them. The more we experience the same outcome on performing a certain action, the stronger the synapses between the respective neurons become. 
                        We thus "learn" by associating responses, both environmental and personal, to the actions or events that evoked them. Other neurons and 
                        synapses that may not have been stimulated as much during the aging process, get pruned. Unique to each individual, the synaptic connections 
                        that remain are a derivative of all "influences - genetic, nutritional, toxic, environmental, social, psychological, educational, and even 
                        accidental - that have converged, unpredictably and irreproducibly", during the development of that particular brain.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Some of you may already know that techniques used to teach robots to be more "human", like Reinforcement Learning, are based on similar 
                        principles.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        For those of you who are not familiar, bear with me as I try to give you a taste of this vast field of artificial intelligence (AI).
                    </p>

                    <h2 style="margin-bottom: 26px; font-family: 'Lora'; color: #003471;">Pattern Recognition as the basis of AI</h2>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        [This section will explain how learning in humans inspired the development of artificial intelligence. Will then explain 2 examples in 
                        following sections that will show how pattern recognition is put into practice - Google Photos, Autonomous Driving]
                    </p>

                    <h2 style="margin-bottom: 26px; font-family: 'Lora'; color: #003471;">How can Google recognize different objects in your images?</h2>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        If you have the Google Photos app installed on your phone, open it and click on the "Search" tab in the bottom right. You will see sections 
                        like Places, Documents, Things and more depending on your settings. View more in the Things section and you will see a screen as below.
                    </p>

                    <!--div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="patternrecognition/things_screen.png" alt="Things" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic; font-size: small;">[TODO: should have things, statues and cliffs together</p>
                        </div>
                    </div-->

                    <p style="margin-bottom: 26px; text-align: justify;">
                        You can see that Google has classified all your photos based on the "things" it finds in them. All images clicked near cliffs have been grouped 
                        together. The images with statues have been separated from the images with cliffs. But how?
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        What you cannot see here is that the software has been "trained" by engineers at Google to identify all kinds of things in the world. Let me 
                        simplify.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        A robot or a computer being able to identify various things in images is not magic, but a meticulously designed algorithm involving multiple 
                        steps. First, thousands of images, each, of all the things that the algorithm should be able to identify are collected. Depending on the 
                        algorithm chosen, these images are then diligently labeled by the engineers using either of the annotation methods as explained in this 
                        <span><a href="https://xailient.com/blog/exploring-data-labeling-and-the-6-different-types-of-image-annotation/" target="_blank">blog</a></span>.
                        One of the methods used is represented below.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="labeled_apple.jpg" alt="Annotation methods" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic; font-size: small;">Bounding Box showing the coordinates stored (Photo by 
                                <span><a href="https://unsplash.com/@anvision" target="_blank">an_vision</a></span>
                                on
                                <span><a href="https://unsplash.com/" target="_blank">Unsplash</a></span>)
                            </p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        In the next step, for each image file, a corresponding text file is generated that stores the class name of the "thing" in the image and the 
                        coordinates of the box as labeled. For example, the text file for an image with a truck, car and cyclist will be as follows:
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="labeling.png" alt="Text file" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic; font-size: small;">Text file containing data about each object in the image</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        The algorithm consequently goes through each 'image - text file' pair and tries to learn a set of features that are unique to each different 
                        class of object that it sees in the images. For example, it might associate features corresponding to "an object floating on water" as a ship 
                        or a "pumpkin with a smile" as Halloween. These sets of features, unique to each of the classes, are embedded and stored for later reference.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Now, when you upload a new image on Google Photos, the algorithm will try to extract features from it. Each set of features it extracts will 
                        then be compared to the set of features that it already remembers giving us a probability score for each of the unique object it has seen 
                        before. This individual score is a probability of the object detected in the new image being the corresponding unique object it remembers.
                    </p>

                    <h2 style="margin-bottom: 26px; font-family: 'Lora'; color: #003471;">Autonomous Cars</h2>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        [Explain one of the features (MPC?) that will have pattern recognition as well as prediction of future states. This will help lead on to 
                        predictions in astrology as well]
                    </p>

                    <h2 style="margin-bottom: 26px; font-family: 'Lora'; color: #003471;">Where does Astrology tie in?</h2>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        If we talk on a surface level, humans learn by noticing patterns in events, and the responses to those events. Furthermore, we developed our 
                        robots to mimic us by translating the same principles by which we learn, into code. Why not extend the same to the study of space and time? 
                        Why not use patterns to learn about the various events in history? Why not use the knowledge of these patterns to take precautions when 
                        similar patterns reoccur so that we can avoid repeating the same mistakes over and over again?
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Hold on to this thought as in the final part of this blog, I will put forth my arguments as to why the study of these patterns would be so 
                        beneficial. And don't worry, I will try my best to connect everything together.
                    </p>

                    <h2 style="margin-bottom: 26px; font-family: 'Lora'; color: #003471;">Astrology: Basics</h2>
                
                    <p style="margin-bottom: 26px; text-align: justify; text-indent: 2em;">
                        It has already been established that the 10 celestial bodies - Sun, Moon, Mercury, Venus, Mars, Jupiter, Saturn, Uranus, Neptune, and Pluto - 
                        and the 12 constellations - Aries, Taurus, Gemini, Cancer, Leo, Virgo, Libra, Scorpio, Sagittarius, Capricorn, Aquarius, and Pisces - do exist 
                        and the data about their positions in the sky is readily available.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Now if we observe from the Earth's perspective, the skies can be perceived as a hollow sphere with all the celestial entities projected on to 
                        it. We call this huge globe encompassing the entire Earth, the Celestial Sphere.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        We also know that the Earth spins around its axis which is tilted at an angle 23&deg 47' to the vertical from the West to the East. As a 
                        result of this, from the Earth's frame of reference, any point on the Celestial Sphere can be seen to rise from the East and set in the West.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        The apparent annual path of the Sun as projected on the Celestial Sphere is called as the Ecliptic. If you observe the path of the other 
                        celestial bodies, you will notice that they also move in their individual orbits slightly inclined to the Ecliptic. The interesting thing to 
                        note here is that no planet crosses more than 7.5&deg north or south of the Ecliptic. This belt of 15&deg has been called the Zodiac. 
                        It is also worth noting that the Zodiac gets divided into 12 parts by the previously mentioned 12 constellations that lie in and about this 
                        Zodiac belt. This further makes it easier to record the position of the celestial bodies at each time with respect to the constellations.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Before we finally connect everything together we need to locate 2 imaginary, but very important, points in the sky. The Moon's orbit around 
                        the Earth as projected on the Celestial Sphere intersects the Ecliptic at 2 distinct points in the sky. These are known as the North node and 
                        South node, widely popular to us as Rahu and Ketu respectively.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Say you take a screenshot of the sky at the exact moment and at the precise location that some major event takes place in the world. And then 
                        you compare these screenshots to search for patterns in them.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Do you get what I'm hinting towards with this?
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        What I am trying to say is if you look at astrology as mere patterns that we detect in the screenshots taken, it all makes sense, doesn't it?
                    </p>

                    <h2 style="margin-bottom: 26px; font-family: 'Lora'; color: #003471;">Patterns in Astrology</h2>
                
                    <p style="margin-bottom: 26px; text-align: justify; text-indent: 2em;">
                        The celestial bodies are in continuous motion on their respective orbits at their respective speeds. After a definitive amount of time, the 
                        celestial bodies return to the position that they were once at. Astrologers basically study these motions and help determine how each pattern 
                        affects the world as a whole and how the lives of individuals are influenced.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Let us keep the discussion about influence on humans for another day and focus only on how these patterns affect the world.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        [More to come]
                    </p>

                    <blockquote class="text-left-align">
                        <span style="margin-bottom: 26px;">
                            Nature uses only the longest threads to weave her patterns, so that each small piece of her fabric reveals the organization of the 
                            entire tapestry.
                        </span>
                        <span class="author-name" style="font-size: 16px;">
                            - Richard Feynman
                        </span>
                    </blockquote>
                    <hr style="margin-top: 50px; width: 20%; height: 2px; color: #003471; background-color: #003471; border-color: #001329;">
                    <div class="mn-social-bottom-c" align="center">
                        <p style="font-size: 20px;">Share this article:</p>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a>
                        <a class="mn-social-bottom" target="_blank" data-action="share/whatsapp/share"><i class="fa fa-lg fa-whatsapp"></i></a>
                        <span id="copy" tooltip="Copy to clipboard"><a class="mn-social-bottom"><i class="fa fa-lg fa-link"></i></a></span>
                        <div class="shareLink">
                            <div class="permalink">
                                <input class="textLink" id="text" type="text" name="shortlink" value="" id="copy-link" readonly="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
          
            <!--section class="profile">
              <div class="profile__card">
                <div class="profile__img">
                  <figure class="absolute-bg" style="background-image: url('{{ site.profile_img }}');"></figure>
                </div>
                <div class="profile__container">
                  <p>{{ site.profile }}</p>
                  {% if site.email or site.social %}
                    <ul class="profile__social">
                      {% if site.email %}
                        <li><a class="fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
                      {% endif %}
                      {% for social in site.social %}
                        <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </div>
            </section-->
          
        </article>
          
        <section class="next">
            <a class="next__link" href="../index.html" style="background-image: url('');">
                <div class="next__container">
                    <span>Read Next</span>
                    <h2>{{page.previous.title}}</h2>
                </div>
            </a>
        </section>
        <script id="rendered-js" src="../../js/blogs.js">
        </script>
    </body>
</html>