<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>The Unexpected Tortous Detour</title>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
        <link href='../../../css/astrostyles.css' rel='stylesheet'>
    </head>
    <body>
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
                <a class="nav nav--white" href="../india.html">
                    <i class="fa fa-lg fa-arrow-left"></i>
                    <span>Back to Posts</span>
                </a>
                <figure class="absolute-bg mast__img" style="background-image: url('sauvik-bose-2VHTAW_p2UM-unsplash.jpg');">
                    <div class="img-caption">
                        <a href="https://unsplash.com/photos/bridge-over-body-of-water-during-night-time-2VHTAW_p2UM" style="color: #003471;" target="_blank">Sauvik Bose</a>
                    </div>
                </figure>
                <div class="mast__container">
                    <span><time datetime="2024-03-06T00:00:00-07:00" itemprop="datePublished">Mar 06, 2024</time></span>
                    <h1 itemprop="name headline">The Unexpected Tortous Detour</h1>
                    <!--span>Posted in 
                        {% for category in page.categories %}
                        <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <span></span-->
                </div>
            </header>

            <section class="section-padding bg-grey" itemprop="articleBody">
                <div class="post">

                    <p style="font-size: 1em; margin-bottom: 26px; text-align: justify; text-indent: 2em;">
                        Coming soon!
                    </p>

                    <!--div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="me.jpg" alt="Me" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Can't skip Euros even on a trip 😛</p>
                        </div>
                    </div-->

                    <!--
                        36 hour long journey, reached at midnight. Had dinner, went to hotel
                        Next morning, visit Victoria Memorial before train in the afternoon
                        Planned the time properly to have lunch and then started for railway station 2 hours before departure
                        Unable to get taxi for the 5km journey. After some time realised that we were looking for the taxi on the wrong road. One way traffic!
                        Reached the station but missed the train.
                        Started looking for other options to avoid delaying the North East leg. Had to catch North-East express from Guwahati
                        One option was Kolkata -> NJP by bus and then NJP -> Guwahati by train.
                        Hesitant because the bus people were saying it was raining heavily and there were chances of flooding on the way to NJP.
                        Recommended to take the AC bus but tickets would exceed budget. Took a leap of faith and took the bus. Reached safely in the morning.
                        Went to the station and found the Rajdhani waiting. Got on and requested the TC to give us tickets tatkal. Thankfully agreed.
                        Rajdhani was late, making unscheduled stops, waiting for hours at stations. Worried that we would miss the train to Naharlagun.
                        Very few alternatives to reach Ziro from Guwahati. All trains on the route were late due to maintenance work
                        Talked to the TC and got to know that the North East express was just behind and was also late.
                        TC suggested we get down at Rangiya Junction and catch the North East express from there. Very narrow window of opportunity
                        Like a movie. We got down from Rajdhani. The North East express arrived on the adjacent platform at exactly the same time.
                        Got on the train and finally breathed a sigh of relief. North East leg back on track!
                    -->

                    <hr style="margin-top: 50px; width: 20%; height: 2px; color: #003471; background-color: #003471; border-color: #001329;">
                    <div class="mn-social-bottom-c" align="center">
                        <p>Share this article:</p>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a>
                        <a class="mn-social-bottom" target="_blank" data-action="share/whatsapp/share"><i class="fa fa-lg fa-whatsapp"></i></a>
                        <span id="copy" tooltip="Copy to clipboard"><a class="mn-social-bottom"><i class="fa fa-lg fa-link"></i></a></span>
                        <div class="shareLink">
                            <div class="permalink">
                                <input class="textLink" id="text" type="text" name="shortlink" value="" id="copy-link" readonly="">
                            </div>
                        </div>
                    </div>
                    <hr style="margin-top: 50px; width: 80%; color: #003471; border-color: #001329; margin-bottom: 50px;">
                    <div id="disqus_thread"></div>
                </div>
            </section>
        </article>
        <section class="next">
            <a class="next__link" href="#" style="background-image: url('');">
                <div class="next__container">
                    <span>Read Next</span>
                    <h2></h2>
                </div>
            </a>
        </section>
        <script id="rendered-js" src="../../../js/blogs.js">
        </script>
        <!--script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            
            var disqus_config = function () {
                this.page.url = window.location.url;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = window.location.url; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://india-bangalore.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//india-bangalore.disqus.com/count.js" async></script-->
    </body>
</html>