<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Madurai mein jigar thanda!</title>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
        <link href='../../../css/astrostyles.css' rel='stylesheet'>
    </head>
    <body>
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
                <a class="nav nav--white" href="../india.html">
                    <i class="fa fa-lg fa-arrow-left"></i>
                    <span>Back to Posts</span>
                </a>
                <figure class="absolute-bg mast__img" style="background-image: url('madurai_header.jpg');">
                <!-- Photo by Ben Chobot on Unsplash -->
                    <div class="img-caption">
                        <a href="https://unsplash.com/photos/a-tall-tower-with-statues-on-top-of-it-c1UOvqeF5EM" style="color: #003471;" target="_blank">Ben Chobot</a>
                    </div>
                </figure>

                <div class="mast__container">
                    <span><time datetime="2017-12-12T00:00:00-07:00" itemprop="datePublished">Dec 12, 2017</time></span>
                    <h1 itemprop="name headline">Madurai mein <span style="font-style: italic;">jigar thanda</span>!</h1>
                    <!--span>Posted in 
                        {% for category in page.categories %}
                        <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <span></span-->
                </div>
            </header>

            <section class="section-padding bg-grey" itemprop="articleBody">
                <div class="post">
                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="view.jpg" alt="view" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The view we woke up to!</p>
                        </div>
                    </div>

                    <p style="font-size: 1em; margin-bottom: 26px; text-align: justify; text-indent: 2em;"> 
                        The huffing and puffing of the Mysore-Tuticorin express woke us up to a picturesque view of the Western Ghats. We were approaching our next 
                        pit stop - Madurai. For the only two days during our 42 day expedition, we were going to be totally relaxed. We were to be hosted by one of 
                        our friend's parents who were going to show us around. Uncle had come to pick us up in their car. By this time we were so used to getting down 
                        the train, picking up our bags and walking all the way to the hotel that going in a car felt like a 'luxury'. When we reached home, Aunty 
                        welcomed us with delicious, soft idlis along with the spicy coriander chutney and hot tea. She had also planned the entire two days for us. 
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        After having the delicious breakfast, we left with uncle for a small hike to the <span style="font-style: italic;">Azhagar Malai</span> 
                        (Azhagar hills). It is situated around 20km north of the city of Madurai. At the foot of the mountains is a temple of Lord Vishnu.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="vishnu_temple.jpg" alt="Vishnu temple" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Lord Vishnu temple at the foothills of Azhagar Malai</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        A short trek through the dense vegetation took us to the top of the mountain, on which is situated the Pazhamudircholai - a temple dedicated to 
                        Lord Murugan (Lord Kartikeya).
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="path.jpg" alt="Path" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <!--div class="container">
                            <p style="font-style: italic;"></p>
                        </div-->
                    </div>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="troop.jpg" alt="Troop" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <!--div class="container">
                            <p style="font-style: italic;">The iconic M Chinnaswamy Stadium - although from outside 😛</p>
                        </div-->
                    </div>

                    <p style="text-indent: 2em; margin-bottom: 26px; text-align: justify;">
                        Uncle, who was a Tamil patriot and had immense knowledge about Tamil history and literature, told us a legend about the temple as to how the great 
                        Tamil poet Avvaiyar had been tested and humbled by Lord Murugan. 
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="legend.jpg" alt="legend" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The legend... in Tamil though</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        A peaceful prayer and an offering of prasadam each and we were on our way back to the foothills to get back home for lunch.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        That day we had the best lunch of our trip. Aunty had prepared chicken for us along with dal rice. By the time we were done, none of us 
                        could move.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="lunch.jpg" alt="Lunch" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Lunch ❤</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        After allowing our tummies some time to digest, we set out again for the Meenakshi Amman temple. The scale of construction and architecture 
                        left us spellbound. The temple had a pond situated in the centre and 14 gopurams in different locations. This pond had a golden lotus floating 
                        in it.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="meenakshi_temple.jpg" alt="Meenakshi Temple" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The temple - the gopurams and the pond</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        By the time we had finished capturing different places of the temple on our cameras, it was time to pick Aunty from her office. On our way, 
                        we stopped to taste the famous drink of Madurai - the <span style="font-style: italic;">Jigarthanda</span>. It translates to 'cool heart' in 
                        English and boy it proved true to its name. The drink cooled off all the exhaustion from roaming around in the hot sun.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="jigarthanda.jpg" alt="jigarthanda" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Jigarthanda!!!</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        After picking Aunty, we decided to taste Idiyappam, another South Indian delicacy, for dinner. We had a nice dinner at home and soon went to 
                        sleep as a long journey awaited us early morning.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="idiyappam.jpg" alt="Idiyappam" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Idiyappam - also called Semige in Kannada</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        The next day, we left early morning at 5:30 am for a trip to see the Courtallam Falls. It was a four hour drive from home. On our way, we got 
                        a taste of the creativity of South Indian people. We stopped to taste another of South India's famous drinks called 
                        <span style="font-style: italic;">Padneer</span>. It is the extract of the palm trees. The 
                        <span style="font-style: italic;">Padneer</span> was served in a cup made out of palm leaves itself. We were amazed by the creativity of the 
                        people. They had used all the parts of the palm trees so effectively!  Along with its fruit, it was so good and filling, that we did not need 
                        breakfast!
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="coconut.jpg" alt="coconut water" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The container made from palm tree leaves</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        The falls were majestic, the water was cold and pure. It tasted of the grass and the rocks that it passed through before reaching down. We 
                        were amazed to see the number of people that had gathered to bathe in the falls. After a short visit to a temple later, we left for the journey 
                        back home as we were to leave that night.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="falls.jpg" alt="falls" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">That's the closest our phones could get I guess 😛</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        On our way, we stopped at a flower garden where one of us slipped hilariously 😛
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="flowers.jpg" alt="flowers" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The flower garden - guess who slipped 😛</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        At night, Aunty made us a heavy dinner of scrumptious dosas, sambhar and coconut chutney. With a heavy heart, we bid adieu to Uncle and Aunty to 
                        proceed to the last destination of South India - Pondicherry!
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        P.S. A big thanks to Arul and his parents for making this possible 🙂
                    </p>
                    <hr style="margin-top: 50px; width: 20%; height: 2px; color: #003471; background-color: #003471; border-color: #001329;">
                    <div class="mn-social-bottom-c" align="center">
                        <p>Share this article:</p>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a>
                        <a class="mn-social-bottom" target="_blank" data-action="share/whatsapp/share"><i class="fa fa-lg fa-whatsapp"></i></a>
                        <span id="copy" tooltip="Copy to clipboard"><a class="mn-social-bottom"><i class="fa fa-lg fa-link"></i></a></span>
                        <div class="shareLink">
                            <div class="permalink">
                                <input class="textLink" id="text" type="text" name="shortlink" value="" id="copy-link" readonly="">
                            </div>
                        </div>
                    </div>
                    <hr style="margin-top: 50px; width: 80%; color: #003471; border-color: #001329; margin-bottom: 50px;">
                    <div id="disqus_thread"></div>
                </div>
            </section>
        </article>
        <section class="next">
            <a class="next__link" href="../pondicherry/pondicherry.html" style="background-image: url('../pondicherry/sonika-agarwal-7qfC65_8Tsk-unsplash.jpg');">
                <div class="next__container">
                    <span>Read Next</span>
                    <h2>Finale in the South - Pondicherry!</h2>
                </div>
            </a>
        </section>
        <script id="rendered-js" src="../../../js/blogs.js">
        </script>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            
            var disqus_config = function () {
                this.page.url = window.location.url;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = window.location.url; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://india-madurai.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//india-madurai.disqus.com/count.js" async></script>
    </body>
</html>