<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="twitter:image" content="https://akhibhat.github.io/travels/india/ziro/sauvik-bose-2VHTAW_p2UM-unsplash.jpg">
        <meta name="twitter:description" content="A Ziro travel story is being drafted and will be published soon.">
        <meta name="twitter:title" content="Ziro Notes (Coming Soon)">
        <meta property="og:type" content="article">
        <meta property="og:url" content="https://akhibhat.github.io/travels/india/ziro/ziro.html">
        <meta name="description" content="A Ziro travel story is being drafted and will be published soon.">
        <meta property="og:title" content="Ziro Notes (Coming Soon)">
        <meta property="og:image" content="https://akhibhat.github.io/travels/india/ziro/sauvik-bose-2VHTAW_p2UM-unsplash.jpg">
        <meta property="og:description" content="A Ziro travel story is being drafted and will be published soon.">
        <meta name="twitter:card" content="summary_large_image">

        <title>Ziro Notes (Coming Soon)</title>
        <link rel="canonical" href="https://akhibhat.github.io/travels/india/ziro/ziro.html">
        <link rel="icon" type="image/x-icon" href="/a.png">
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
        <link href='../../../css/astrostyles.css' rel='stylesheet'>
    </head>
    <body>
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
                <a class="nav nav--white" href="../india.html">
                    <i class="fa fa-lg fa-arrow-left"></i>
                    <span>Back to Posts</span>
                </a>
                <figure class="absolute-bg mast__img" style="background-image: url('');">
                    <div class="img-caption">
                        <a href="" style="color: #003471;" target="_blank"></a>
                    </div>
                </figure>
                <div class="mast__container">
                    <span><time datetime="2024-04-20T00:00:00-07:00" itemprop="datePublished">Apr 20, 2024</time></span>
                    <h1 itemprop="name headline"></h1>
                    <!--span>Posted in 
                        {% for category in page.categories %}
                        <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <span></span-->
                </div>
            </header>

            <section class="section-padding bg-grey" itemprop="articleBody">
                <div class="post">
                    <!--
                        The next destination after a chaotic few days was such a town called Ziro
                        Wake up to a foggy morning
                        Reach Ziro at ~6 and wait till the permit office opens
                        Require an ILP or Inner Line Permit to go further as it is a restricted/protected area
                        Took around an hour and we were ready to leave by 9am

                        Due to the extra expenditure in the last few days, we had exhausted our cash resources and hadn't been able to withdraw
                        Searched for an ATM but wasn't to be found.
                        Share vehicles (Sumo) take you from Naharlagun to Ziro. Usually a 3 hour journey. Since it was the monsoons, there was a chance of
                        landslides which might delay the journey
                        Asked if there was any ATM nearby. No ATMs nearby, directly at Ziro.
                        Journey through the mountains with lots of twists and turns - literally and metaphorically
                        Quite hungry -> barely any cash in hand -> shared a plate of poha
                        Frequent roadblocks due to the rain and landslides
                        Slippery roads, mud on the roads -> vehicle skidded -> driver was able to stop just at the edge
                        Were wide awake after that incident
                        Took around 6 hours. Reached around 4pm
                        Had to now pay the driver. On reaching, we got to know that ATMs were open only for some time in the morning on the weekends.
                        Arranged with the owner of a restaurant that we would pay him later.
                        Got to the hotel exhausted. Slept off only to wake up, have dinner and sleep off again.
                        Next morning, we had the task of keeping our side of the promise. Waited in a huge line at 1 of only 3 ATMs. Took almost an hour.
                        Plan was to go to Old Ziro to see the Dree festival but it was too late
                        Had lunch. Roamed in the markets taking in the views, observing the people who were busy at work - working at garages, shops or on fields
                        Day had to end at 5:30-6 with the sunset as all shops closed and there was no one to be seen after dark
                        Next morning started early and taking another share vehicle went straight to Old Ziro for the festival
                        Explain about the Dree festival
                        Went to see the nearby rice fields and learnt about rice cultivation and fish culture by the natives
                        Left for the hotel as it was getting late
                        Next day was the last day. Walked around in the neighborhood. Felt like we had seen everything as it was a small hamlet nestled in the mountains
                        Took the share vehicle back to Naharlagun, this time with no surprises.
                        Got on the train to Guwahati
                    -->

                    <p style="font-size: 1em; margin-bottom: 26px; text-align: justify; text-indent: 2em;">
                        Having not had anything to eat after the Rajdhani lunch, the persistent rumbling of my empty stomach had woken me up quite early. In the dimly 
                        lit confines of our compartment, while the others were still in deep slumber, and with the windows closed due to the monsoons, it felt akin to 
                        living in Heisenberg's uncertainty principle.
                    </p>

                    <p style="font-size: 1em; margin-bottom: 26px; text-align: justify;">
                        The uncertainty principle posits that the more precisely one measures the position of a particle, the less precisely one can determine its 
                        momentum, and vice versa. Similarly, as the train hurtled forward, while I had a sense of the train's velocity, I remained utterly clueless 
                        about our precise location; more importantly, about my next meal.
                    </p>

                    <p style="font-size: 1em; margin-bottom: 26px; text-align: justify;">
                        To disengage myself from this presumed quantum state, I walked up to the train door to greet Mother Nature. And boy was I rewarded!
                    </p>

                    <p style="font-size: 1em; margin-bottom: 26px; text-align: justify;">
                        I stood there for a while, completely absorbed in the ethereal scenery that lay before me. As the mist gradually dissipated, it unveiled a 
                        breathtaking mountainous landscape that dispelled any remnants of sleep from my eyes. A tap on the shoulder jolted me out of the spell I had 
                        falled under. Apologizing to the TC, I quickly made my way back to our compartment and settled in by the window seat, slipping right back into 
                        my reverie until the train chugged into Naharlagun around 6:30am.
                    </p>

                    <p style="font-size: 1em; margin-bottom: 26px; text-align: justify;">
                        Before we embarked on our journey into the enchanting state of Arunachal Pradesh, we were required to obtain a travel document called the 
                        Inner Line Permit (ILP). Aimed at preserving the indigenous culture, safeguarding security interests and promoting sustainable tourism, the 
                        ILP helps monitor the flow of visitors to specific regions deemed sensitive or restricted. Having already prepared for this, we submitted our 
                        documents (ID proofs, address proofs and purpose of visit), paid the fee and set off for Ziro.
                    </p>

                    <p style="font-size: 1em; margin-bottom: 26px; text-align: justify;">
                        Talk about the jounrney
                    </p>

                    <p style="font-size: 1em; margin-bottom: 26px; text-align: justify;">
                        The journey, marred by traffic interruptions and heart-stopping moments, had left us completely drained. We somehow dragged ourselves to our 
                        hotel rooms and immediately collapsed into bed, waking up only for a quick room-service dinner. (A sentence that we woke up refreshed next 
                        morning)
                    </p>

                    <p style="font-size: 1em; margin-bottom: 26px; text-align: justify;">
                        
                    </p>

                    <hr style="margin-top: 50px; width: 20%; height: 2px; color: #003471; background-color: #003471; border-color: #001329;">
                    <div class="mn-social-bottom-c" align="center">
                        <p>Share this article:</p>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a>
                        <a class="mn-social-bottom" target="_blank" data-action="share/whatsapp/share"><i class="fa fa-lg fa-whatsapp"></i></a>
                        <span id="copy" tooltip="Copy to clipboard"><a class="mn-social-bottom"><i class="fa fa-lg fa-link"></i></a></span>
                        <div class="shareLink">
                            <div class="permalink">
                                <input class="textLink" id="text" type="text" name="shortlink" value="" id="copy-link" readonly="">
                            </div>
                        </div>
                    </div>
                    <hr style="margin-top: 50px; width: 80%; color: #003471; border-color: #001329; margin-bottom: 50px;">
                    <div id="disqus_thread"></div>
                </div>
            </section>
        </article>
        <section class="next">
            <a class="next__link" href="#" style="background-image: url('');">
                <div class="next__container">
                    <span>Read Next</span>
                    <h2></h2>
                </div>
            </a>
        </section>
        <script id="rendered-js" src="../../../js/blogs.js">
        </script>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            
            var disqus_config = function () {
                this.page.url = window.location.url;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = window.location.url; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://india-kolkata.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </body>
</html>