<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="Mysore Diaries! All about Zostel, Mylari and the Chamundi Hills :)"/>
        <meta property="og:image" content="mysore_header.jpg"/>
        <meta property="og:description" content="Apart from being the cultural capital of Karnataka, Mysore was definitely the best restaurant food we had in all of 
                                                    South India. The fluffy dosas and the exquisite chutney at Mylari alone are worth multiple trips."/>

        <meta property="twitter:title" content="Mysore Diaries! All about Zostel, Mylari and the Chamundi Hills :)"/>
        <meta property="twitter:description" content="Apart from being the cultural capital of Karnataka, Mysore was definitely the best restaurant food we had in all 
                                                        of South India. The fluffy dosas and the exquisite chutney at Mylari alone are worth multiple trips."/>
        <meta property="twitter:image" content="mysore_header.jpg"/>

        <title>Mysore Diaries! All about Zostel, Mylari and the Chamundi Hills :)</title>
        <link rel="icon" type="image/x-icon" href="/a.png">
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
        <link href='../../../css/astrostyles.css' rel='stylesheet'>
    </head>
    <body>
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
                <a class="nav nav--white" href="../india.html">
                    <i class="fa fa-lg fa-arrow-left"></i>
                    <span>Back to Posts</span>
                </a>
                <figure class="absolute-bg mast__img" style="background-image: url('mysore_header.JPG');"></figure>
                <div class="mast__container">
                    <span><time datetime="2017-06-25T00:00:00-07:00" itemprop="datePublished">Jun 25, 2017</time></span>
                    <h1 itemprop="name headline">Mysore Diaries! All about Zostel, Mylari and the Chamundi Hills :)</h1>
                    <!--span>Posted in 
                        {% for category in page.categories %}
                        <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <span></span-->
                </div>
            </header>

            <section class="section-padding bg-grey" itemprop="articleBody">
                <div class="post">

                    <p style="font-size: 1em; margin-bottom: 26px; text-align: justify;"> 
                        Its 4am in the morning at 196 Englewood Ave. Buffalo NY.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        A Saturday night after a grueling week of reading numerous research papers and here I am, transported back to somewhere between Gokarna and 
                        Mysore on June 21, 2016.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        In about two hours we were about to reach Mysore. A 12 hour bus journey wasn't enough to dampen our spirits, especially after having had one 
                        of the best dinners at a <span style="font-style: italic;">dhaba</span> the previous night.
                    </p>
                    
                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="zostel.jpg" alt="Zostel" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <!--div class="container">
                            <p style="font-style: italic;">The high tide and the furious waves</p>
                        </div-->
                    </div>

                    <p style="text-indent: 2em; margin-bottom: 26px; text-align: justify;">
                        We had booked bunk beds at <span><a href="https://www.zostel.com/" target="_blank" style="text-decoration: none;">Zostel</a></span>, Mysore and 
                        were very excited after having read some great reviews. For those of you who do not know, Zostel is a chain of backpacker's hostels started by 
                        aspiring entrepreneurs from IITs and IIMs. A 1km walk from the bus stop and we were confronted by the locked gates of the place we were 
                        supposed to stay in. Fortunately we met the caretaker of the place - a person whom we will always remember for a very good reason. He was an 
                        amiable person who showed us around the place and made us feel comfortable. He even suggested a few good places to roam around in Mysore. We 
                        certainly owe the best breakfast of our entire trip to him.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="mylari.jpg" alt="Mylari" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The original Mylari</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        It was an extremely compact place called “Mylari original” with another restaurant of the same name right in front of it. Which of them is 
                        really the original, you'll never know as they claim to sell the best idlis and dosas. And boy they do! I have no words to describe the 
                        quality of the dosas and idlis there. The idlis were super soft that they just melted in my mouth. The dosas, crisp yet tender were fluffy 
                        and were served with a huge piece of melting butter on it. Along with that was a one-of-a-kind, never-before-eaten chutney which perfectly 
                        complemented both the items (and the only ones) on their menu. Any one who visits Mysore must surely experience this out-of-the-world pleasure.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="idli.jpg" alt="Mylari Idli" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <!--div class="container">
                            <p style="font-style: italic;">The high tide and the furious waves</p>
                        </div-->
                    </div>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="mylari_dosa.jpg" alt="Mylari Dosa" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <!--div class="container">
                            <p style="font-style: italic;">The high tide and the furious waves</p>
                        </div-->
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        After having a filling breakfast, we left to visit the house of the Wodeyar family - the majestic Mysore Palace. A guided tour was enough to 
                        tell and show us the entire story of the Wodeyars. Although the palace was beautiful, the fee counters everywhere were a big turnoff. We 
                        decided to walk around the city, one of the most well planned in our country. A sojourn at the Jaganmohan Art gallery was all that was needed 
                        to realize that it was time to rest. A quick-lunch at a nearby mall, and we were walking back to our cozy bunk beds longing to rest before we 
                        could continue our expedition through the historic city.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="mysore_palace.jpg" alt="Mysore Palace" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The majestic Mysore Palace</p>
                        </div>
                    </div>
                    
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Zostel was again there to amaze us. An open library, an activity center, a swing to just sit and talk , an open terrace and so many people 
                        from different countries! Instead of sleeping for sometime, all three of us being enthusiasts ended up reading our respective novels in the 
                        activity center there.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        In the evening, we had planned to visit the sand sculpture museum. As we reached there, we were disappointed this time by the season. We were 
                        told that the museum remains closed during the monsoons for obvious reasons and we were left thinking what to do next. Our taxi driver 
                        suggested that we go to the famous Chamundeshwari temple atop the Chamundi hill. Legend has it that 'Mahishasur', the king of the city then, 
                        was killed by the goddess Chamundeshwari here. Excited by the fact that we would be on top of a hill during sunset, we took the next bus to 
                        Chamundi hill.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="chamundi_temple.jpg" alt="Chamundi Temple" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Sri Chamundeshwari Temple</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Once on top, we could see the entire city as the sun set and with it people slowly returned back to their homes after a long day. The view 
                        was so beautiful, we did not feel like leaving at all.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="lights.jpg" alt="city lights" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <!--div class="container">
                            <p style="font-style: italic;">The high tide and the furious waves</p>
                        </div-->
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        When the sky was robbed of all its light and we could see the houses lit up like small <span style="font-style: italic;">diyas</span>, we knew 
                        it was time to return back. Luckily we were just in time to catch the last bus back to the city. And then it was dinner time! (my favourite 
                        part of the day 😛) We went to another dosa shop near the bus stop and tasted new types of dosas and idlis we never knew existed. Vegetable 
                        dosa, Benne Masala Dosa and Thette Idli was the menu for the night. Some 8-10 bowls of <span style="font-style: italic;">sambhar</span> later, 
                        three round tummied hippos started their long way back home. We were sad that we were going to be leaving this beautiful place the next day. 
                        So we were determined that we would make our time count.
                    </p>

                    <div style="margin-left: auto; margin-right: auto; width: 40%;" class="polaroid">
                        <img src="dosa.jpg" alt="Dosa" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <!--div class="container">
                            <p style="font-style: italic;">The high tide and the furious waves</p>
                        </div-->
                    </div>

                    <div style="margin-left: auto; margin-right: auto; width: 40%;" class="polaroid">
                        <img src="thatte_idli.jpg" alt="Thatte Idli" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <!--div class="container">
                            <p style="font-style: italic;">The high tide and the furious waves</p>
                        </div-->
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        The next day, our determination weared off and we decided to spend our time in the Mysore Zoo. Although it was not planned, it was one hell of a 
                        zoo! I had never seen so many birds, animals and reptiles in the same place. We were just halfway through the zoo when we realised that if we did 
                        not leave we would miss our train to our next destination.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        We collected our already packed bags and left for the railway station. But we were not yet done with Mysore. We were not going to leave the 
                        city before having tasted the famous sweet of this place - the Mysore Pak. Again our taxi driver came to the rescue. He took us to the famous 
                        sweet shop of Mysore where we tasted the amazing, melting-in-the-mouth Mysore Pak. Of course we took a full box and boarded our train to the 
                        silicon valley of India, Bangalore - the first metropolitan city in our journey!
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="mysore_pak.jpg" alt="Mysore Pak" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Mysore Pak - prasad for reading the blog 😛</p>
                        </div>
                    </div>
                    <hr style="margin-top: 50px; width: 20%; height: 2px; color: #003471; background-color: #003471; border-color: #001329;">
                    <div class="mn-social-bottom-c" align="center">
                        <p>Share this article:</p>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a>
                        <a class="mn-social-bottom" target="_blank" data-action="share/whatsapp/share"><i class="fa fa-lg fa-whatsapp"></i></a>
                        <span id="copy" tooltip="Copy to clipboard"><a class="mn-social-bottom"><i class="fa fa-lg fa-link"></i></a></span>
                        <div class="shareLink">
                            <div class="permalink">
                                <input class="textLink" id="text" type="text" name="shortlink" value="" id="copy-link" readonly="">
                            </div>
                        </div>
                    </div>
                    <hr style="margin-top: 50px; width: 80%; color: #003471; border-color: #001329; margin-bottom: 50px;">
                    <div id="disqus_thread"></div>
                </div>
            </section>
        </article>
        <section class="next">
            <a class="next__link" href="../bangalore/bangalore.html" style="background-image: url('../bangalore/jithin-vijayamohanan-4OZwiBI-h1E-unsplash.jpg');">
                <div class="next__container">
                    <span>Read Next</span>
                    <h2>Namma Sundara Bengaluru!!</h2>
                </div>
            </a>
        </section>
        <script id="rendered-js" src="../../../js/blogs.js">
        </script>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            
            var disqus_config = function () {
                this.page.url = window.location.url;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = window.location.url; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://india-mysore.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//india-mysore.disqus.com/count.js" async></script>
    </body>
</html>