<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Gokarna - Solace amidst Nature...</title>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
        <link href='../../../css/astrostyles.css' rel='stylesheet'>
    </head>
    <body>
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
                <a class="nav nav--white" href="../india.html">
                    <i class="fa fa-lg fa-arrow-left"></i>
                    <span>Back to Posts</span>
                </a>
                <figure class="absolute-bg mast__img" style="background-image: url('header.JPG');"></figure>
                <div class="mast__container">
                    <span><time datetime="2017-03-07T00:00:00-07:00" itemprop="datePublished">Mar 7, 2017</time></span>
                    <h1 itemprop="name headline">Gokarna - Solace amidst Nature...</h1>
                    <!--span>Posted in 
                        {% for category in page.categories %}
                        <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <span></span-->
                </div>
            </header>

            <section class="section-padding bg-grey" itemprop="articleBody">
                <div class="post">

                    <p style="text-indent: 2em; font-size: 1em; margin-bottom: 26px; text-align: justify;"> 
                        As we sat in the Madgaon-Mangalore Passenger train, I reflected upon the changes that we experienced in Goa. The cuisine, the people, the 
                        surroundings and especially the language. Cornered to the west by both Karnataka and Maharashtra, the language there has been influenced by 
                        them both. The language there, Konkani, is a perfect blend of Marathi and Kannada. All three of us knew Marathi well and hence could 
                        understand people there. We had divided our journey of 42 days into three parts - South India, North-East and the North; and as the train 
                        crossed Loliem (last stop in Goa) and reached Asnoti (first stop in Karnataka), the South Indian part of our tour had begun 😀.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Gokarna is a small temple town in the Kumta taluka of the Uttara Kannada district of Karnataka. When the train came to a halt at the Gokarna 
                        railway station, we were worried to see the remoteness of the place. The railway stop was in the midst of a jungle with just one road 
                        connected to it. We had no other option but to take a rickshaw to our hotel. That was not the only problem. Only after we came outside did 
                        we realize that we were actually in South India. As the auto wallahs started to surround us, we (actually only Zainab and Himanshu) could not 
                        understand a word they wanted to convey. Reality had hit us! But not that hard 😛.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        I, being from Mangalore, was accustomed to Kannada but I couldn't be the savior in the other South Indian states. Keeping this worry aside, 
                        I instructed the auto wallah to take us to Gokarna International hotel.
                    </p>
                    
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Well, nothing about this hotel was 'international'. Although from outside it looked quite decent, from inside it was a nightmare. This was 
                        where we learnt our second lesson.
                    </p>

                    <h2 style="text-align: center; margin-top: 50px; margin-bottom: 50px; font-family: 'Lora';">
                        LESSON 2: IN SMALL TOWNS AND REMOTE VILLAGES, IT IS BETTER TO FIRST HAVE A LOOK AT THE HOTEL AND THEN BOOK IT.
                    </h2>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        It was an awful hotel, with rude staff, unkempt corridors and rooms in very bad shape. The hotel looked haunting with plates of half-eaten 
                        food and used bed sheets strewn on the floor. We freshened up and immediately left outside for a stroll; more importantly to stay away from 
                        the hotel for as long as possible.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="narrow_alleys.jpg" alt="Narrow alleys" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Narrow alleys in the temple town</p>
                        </div>
                    </div>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="local_houses.jpg" alt="Local house" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">A beautiful local house</p>
                        </div>
                    </div>
                    
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Gokarna epitomizes the typical South Indian village. We walked through narrow by-lanes with houses on both sides. There was a power cut and 
                        hence the people were sitting on the verandas and interacting with their neighbors. On our way, we saw a wedding taking place in a 
                        <span style="font-style: italic;">matha</span>. On inquiring about it, we found that they were celebrating the wedding of a local God. The 
                        excitement of the people and the grandeur of the celebrations was truly marvelous.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="local_wedding.jpg" alt="local wedding" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The wedding congregation</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Trudging down one of the alleys, we reached a big lake which seemed to be the center of the town. It seemed like a normal lake surrounded by 
                        many temples. We saw people worshiping the lake, which we found interesting. We looked up on the web and read in another 
                        <span><a href="https://www.awanderingmind.in/2013/10/koti-teertha-gokarna.html" target="_blank">blog</a></span> that it was 
                        known as the <span style="font-style: italic;">Koti Teertha</span> which literally means thousand springs. The fresh-water lake is believed to 
                        be the origin of many springs and is considered to be a holy place by the locals. We were amazed by the fact that, being so close to the sea, 
                        it is a fresh-water lake fed by springs. Oh, the miracles of the Almighty!
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="koti_teertha.jpg" alt="Koti Teertha" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Koti Teertha</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        We gazed at the beauty of the place and walked along the bank taking pictures, while being continuously stared at by the local people 😛
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="troop.jpg" alt="Troop" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The three of us again</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        By the time we finished posing for innumerable photographs on all the four banks, the sun had already set. It was an indication for us to 
                        have our dinner before calling it a day. We started walking back in search of a restaurant to fill our stomachs. We were in for a surprise 
                        when we saw that electricity was still out in that part of the town. A rough night for us, I thought. Our search for a restaurant ended 
                        when we came across a certain 'Pai Restaurant', where we had homemade-type food - chapati, sabji, chaas and lassi.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="ghar_ka_khana.jpg" alt="Food" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Wholesome 'ghar ka khana' 😀</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Anxious of spending the night in the haunted hotel, we walked back to rest for the day.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        We had already planned that the next day, we would be going trekking along the three famous beaches of Gokarna - Kudle Beach, Om Beach and 
                        the Half Moon Beach. So, early in the morning, we had our breakfast in the same 'Pai Restaurant' and set off for the beach equipped with boots 
                        and first aid. Although direct transport was available, we decided to trek our way to the beaches. After passing the narrow by-lanes and the 
                        village houses, we came across one of the finest country roads which did not seem to end at all. The scattered bushes and the trees on both 
                        sides of the road made for a perfect scenic imagery. You could clearly hear the waves crashing on the rocks and also see the beach from afar.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="beach.jpg" alt="Beach" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Peeking at the beach from the country road</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        A few winding roads and a flight of stairs later, we were at the entrance to the beach. Although the beach was empty except for a few people, 
                        it was very dirty with beer cans and plastic bottles all over. The ferocity with which the waves crashed against the rocks, overwhelmed us. 
                        The sound of the furious waves chiding the rocks with the chilling winds for a dramatic background, was totally deafening. This dampened our 
                        spirits, as trekking along the Gokarna cliff to go to the neighboring beaches was next to impossible. We thus roamed for a long time on the 
                        beach, barefoot, feeling the cold water as it washed over the sand. The water seemed to take away all our fatigue, so much so that we completely 
                        lost track of time. It was only when it started to drizzle that we realized we were supposed to leave for Mysore that evening.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="kudle_beach.jpg" alt="Kudle Beach" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Entrance to Kudle Beach</p>
                        </div>
                    </div>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="waves.jpg" alt="Waves" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The high tide and the furious waves</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Gathering all our stuff together, we started the long walk back to the hotel wherein we were accompanied by heavy showers. Drenched completely 
                        wet, we enjoyed the local Hangyo ice creams at one of the shops in the town.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Reaching back to our hotel rooms, we dried our wet clothes, changed into new ones and left for the bus stop which was just about 500m from our 
                        hotel. In a state of conflict, we finally left Gokarna in a comfortable non-AC sleeper bus at 5:30pm, happy that we would not have to sleep in 
                        the ghostly hotel that night but at the same time sad, as we were moving away from the beach to the mainland.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Over to the cultural capital of Karnataka - MYSORE!
                    </p>
                    <hr style="margin-top: 50px; width: 20%; height: 2px; color: #003471; background-color: #003471; border-color: #001329;">
                    <div class="mn-social-bottom-c" align="center">
                        <p>Share this article:</p>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a>
                        <a class="mn-social-bottom" target="_blank" data-action="share/whatsapp/share"><i class="fa fa-lg fa-whatsapp"></i></a>
                        <span id="copy" tooltip="Copy to clipboard"><a class="mn-social-bottom"><i class="fa fa-lg fa-link"></i></a></span>
                        <div class="shareLink">
                            <div class="permalink">
                                <input class="textLink" id="text" type="text" name="shortlink" value="" id="copy-link" readonly="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <section class="next">
            <a class="next__link" href="../mysore/mysore.html" style="background-image: url('../mysore/mysore_header.JPG');">
                <div class="next__container">
                    <span>Read Next</span>
                    <h2>Mysore Diaries! All about Zostel, Mylari and the Chamundi Hills :)</h2>
                </div>
            </a>
        </section>
        <script id="rendered-js" src="../../../js/blogs.js">
        </script>
    </body>
</html>