<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Akhilesh Bhat</title>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
        <link href='../css/astrostyles.css' rel='stylesheet'>
    </head>
    <body>
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
                <a class="nav nav--white" href="index.html">
                    <i class="fa fa-lg fa-arrow-left"></i>
                    <span>Back to Posts</span>
                </a>
                <figure class="absolute-bg mast__img" style="background-image: url('../images/patternrecognition.png');"></figure>
                <div class="mast__container">
                    <span><time datetime="2024-01-08T00:00:00-07:00" itemprop="datePublished">Jan 8, 2024</time></span>
                    <h1 itemprop="name headline">Pattern Recognition: Humans, AI... Astrology?</h1>
                    <!--span>Posted in 
                        {% for category in page.categories %}
                        <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <span></span-->
                </div>
            </header>
          
            <section class="section-padding bg-grey" itemprop="articleBody">
                <div class="post">

                    <blockquote class="text-left-align">
                        <span style="margin-bottom: 26px;">
                            Insanity is doing the same thing over and over again and expecting different results.
                        </span>
                        <span class="author-name" style="font-size: 16px;">
                            - Albert Einstein
                        </span>
                    </blockquote>

                    <p style="text-indent: 2em; font-size: 1em; margin-bottom: 26px; text-align: justify;">
                        Individuals like you and me, who have walked the Earth for quite some time, have a fair understanding of how the world works and how we need to 
                        act in a variety of situations.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        While waiting to cross an intersection under normal circumstances, it wouldn't surprise us if a car zoomed past just as the light turned 
                        yellow. On the other hand, the traffic light pole suddenly disappearing, buildings turning inside out, or people's faces morphing into mythical 
                        creatures? Must be a dream or a Marvel movie.
                    </p>
        
                    <p style="margin-bottom: 26px; text-align: justify;">
                        After rigorous lessons and having driven hundreds of kilometers, it becomes second nature to take your foot off the accelerator and step on 
                        the brakes when you approach a red light. You subconsciously put on the indicators before you take a turn because, well, those are the rules 
                        that you learned. Some of you probably won't even require Google Maps to drive to places that you have already visited before. Your mind knows 
                        exactly which flyover to take and which lane to exit from.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        But picture this.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        You're a kid, maybe of one or two. Crawling on all fours, you reach the kitchen where your parents are scurrying around trying to prepare an 
                        elaborate meal for their friends who are about to arrive. Seeing you, mum lifts you up and props you on the kitchen platform so that you 
                        don't get hurt in all the commotion. You smell something wonderful nearby, look around and locate the likely source. What do you do?
                    </p>
                    <p style="margin-bottom: 26px; text-align: justify;">
                        You touch it. 
                    </p>
                    <p style="margin-bottom: 26px; text-align: justify;">
                        But the sensation that hits has you confused. You expected it to make you smile, but your tiny hand has turned all red. You turn to look at 
                        your mum and start bawling as the pain starts to seep in. Even though you don't really comprehend what just happened, one thing did get 
                        clearly ingrained in your brain. 
                    </p>
                    <p style="margin-bottom: 26px; text-align: justify;"> 
                        <span><strong>NEVER</strong></span> touch anything on the kitchen platform even if it smells like heaven!!!!
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        I'm sure a lot of you must have had such an experience in your childhood. I'm also sure that never again did you intentionally touch something 
                        on the stove with your bare hands.
                    </p>
                    <p style="margin-bottom: 26px; text-align: justify;">
                        How did this happen? How did you go from a baby who touched the hot utensil to knowing the exact moment to step on the brakes to make your 
                        vehicle come to a stop just in time?
                    </p>

                    <h2 style="margin-bottom: 26px; font-family: 'Lora';">How do humans learn?</h2>

                    <p style="text-indent: 2em; margin-bottom: 26px; text-align: justify;">
                        Through brain imaging studies neuroscientists have shown that, on a molecular and cellular level, the human brain is remarkably similar to 
                        that of non-human primates and lower mammals. It retains many features of brain structure and cellular organization of the brains of birds. 
                        Neuroanatomical and neurochemical considerations suggest that the superior intellectual capabilities of humans are largely the result of the 
                        increase in the number of neurons and synapses. For example, mice have 1 billion neurons in their nervous system as compared to humans that 
                        have approximately 30 billion only in the brain. It is this huge contrast in numbers and the integrated function of these pattern-processing 
                        networks that makes us mentally superior beings.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Basically what this means is that it is not the molecular or cellular structure of our brains that makes us different. It is instead, 
                        more of a numerical advantage. As the sheer number of neurons present and the connections between them increases, we become better at 
                        encoding humongous amounts of detailed patterns, integrating all of this information, and making appropriate decisions in pertinent situations.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        This is exactly what happens as we age. Even though a newborn baby has all of the neurons they'll have for the rest of their lives, it is 
                        through the various experiences that help develop the connections between these neurons.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        [More to come]
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Some of you may already know that techniques used to teach robots to be more like humans are somewhat based on these principles.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        For those of you who are not familiar, bear with me as I try to give you a taste of this vast field of artificial intelligence or AI.
                    </p>

                    <h2 style="margin-bottom: 26px; font-family: 'Lora';">Artificial Intelligence</h2>

                    <p style="margin-bottom: 26px; text-align: justify; text-indent: 2em;">
                        [This section will have some examples of how patterns are important in AI]
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Now hold on to this thought as we move to the final piece of this blog. And don't worry, it will all make some sense at least &#128540;
                    </p>

                    <h2 style="margin-bottom: 26px; font-family: 'Lora';">Astrology: Basics</h2>
                
                    <p style="margin-bottom: 26px; text-align: justify; text-indent: 2em;">
                        It has already been established that the 10 celestial bodies - Sun, Moon, Mercury, Venus, Mars, Jupiter, Saturn, Uranus, Neptune, and Pluto - 
                        and the 12 constellations - Aries, Taurus, Gemini, Cancer, Leo, Virgo, Libra, Scorpio, Sagittarius, Capricorn, Aquarius, and Pisces - do exist 
                        and the data about their positions in the sky is readily available.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Now if we observe from the Earth's perspective, the skies can be perceived as a hollow sphere with all the celestial entities projected on to 
                        it. We call this huge globe encompassing the entire Earth, the Celestial Sphere.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        We also know that the Earth spins around its axis which is tilted at an angle 23 deg 47' to the vertical from the West to the East. As a 
                        result of this, from the Earth's frame of reference, any point on the Celestial Sphere can be seen to rise from the East and set in the West.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        The apparent annual path of the Sun as projected on the Celestial Sphere is called as the Ecliptic. If you observe the path of the other 
                        celestial bodies, you will notice that they also move in their individual orbits slightly inclined to the Ecliptic. The interesting thing to 
                        note here is that no planet crosses more than 7.5 degrees north or south of the Ecliptic. This belt of 15 degrees has been called the Zodiac. 
                        It is also worth noting that the Zodiac gets divided into 12 parts by the previously mentioned 12 constellations that lie in and about this 
                        Zodiac belt. This further makes it easier to record the position of the celestial bodies at each time with respect to the constellations.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Before we finally connect everything together we need to locate 2 imaginary, but very important, points in the sky. The Moon's orbit around 
                        the Earth as projected on the Celestial Sphere intersects the Ecliptic at 2 distinct points in the sky. These are known as the North node and 
                        South node, widely popular to us as Rahu and Ketu respectively.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Say you take a screenshot of the sky at the exact moment and at the precise location that some major event takes place in the world. And then 
                        you compare these screenshots to search for patterns in them.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Do you get what I'm hinting towards with this?
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        What I am trying to say is if you look at astrology as mere patterns that we detect in the screenshots taken, it all makes sense, doesn't it?
                    </p>

                    <h2 style="margin-bottom: 26px; font-family: 'Lora';">Patterns in Astrology</h2>
                
                    <p style="margin-bottom: 26px; text-align: justify; text-indent: 2em;">
                        The celestial bodies are in continuous motion on their respective orbits at their respective speeds. After a definitive amount of time, the 
                        celestial bodies return to the position that they were once at. Astrologers basically study these motions and help determine how each pattern 
                        affects the world as a whole and how the lives of individuals are influenced.
                    </p>
                
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Let us keep the discussion about influence on humans for another day and focus only on how these patterns affect the world.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        [More to come]
                    </p>

                    <blockquote class="text-left-align">
                        <span style="margin-bottom: 26px;">
                            Nature uses only the longest threads to weave her patterns, so that each small piece of her fabric reveals the organization of the 
                            entire tapestry.
                        </span>
                        <span class="author-name" style="font-size: 16px;">
                            - Richard Feynman
                        </span>
                    </blockquote>
                </div>
            </section>
          
            <!--section class="profile">
              <div class="profile__card">
                <div class="profile__img">
                  <figure class="absolute-bg" style="background-image: url('{{ site.profile_img }}');"></figure>
                </div>
                <div class="profile__container">
                  <p>{{ site.profile }}</p>
                  {% if site.email or site.social %}
                    <ul class="profile__social">
                      {% if site.email %}
                        <li><a class="fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
                      {% endif %}
                      {% for social in site.social %}
                        <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </div>
            </section-->
          
        </article>
          
        <section class="next">
            <a class="next__link" href="index.html" style="background-image: url('');">
                <div class="next__container">
                    <span>Read Next</span>
                    <h2>{{page.previous.title}}</h2>
                </div>
            </a>
        </section>
    </body>
</html>