<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="twitter:image" content="https://akhibhat.github.io/travels/photoholgic-jK9dT34TfuI-unsplash.jpg">
        <meta name="twitter:description" content="A Melbourne travel story is being drafted and will be published soon.">
        <meta name="twitter:title" content="Melbourne Notes (Coming Soon)">
        <meta property="og:type" content="article">
        <meta property="og:url" content="https://akhibhat.github.io/travels/Aus/melbourne/melbourne.html">
        <meta name="description" content="A Melbourne travel story is being drafted and will be published soon.">
        <meta property="og:title" content="Melbourne Notes (Coming Soon)">
        <meta property="og:image" content="https://akhibhat.github.io/travels/photoholgic-jK9dT34TfuI-unsplash.jpg">
        <meta property="og:description" content="A Melbourne travel story is being drafted and will be published soon.">
        <meta name="twitter:card" content="summary_large_image">

        <title>Melbourne Notes (Coming Soon)</title>
        <link rel="canonical" href="https://akhibhat.github.io/travels/Aus/melbourne/melbourne.html">
        <link rel="icon" type="image/x-icon" href="/a.png">
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
        <link href='../../../css/astrostyles.css' rel='stylesheet'>
    </head>
    <body>
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
                <a class="nav nav--white" href="../australia.html">
                    <i class="fa fa-lg fa-arrow-left"></i>
                    <span>Back to Posts</span>
                </a>
                <figure class="absolute-bg mast__img" style="background-image: url('');">
                    <div class="img-caption">
                        <a href="" style="color: #003471;" target="_blank" rel="noopener noreferrer"></a>
                    </div>
                </figure>
                <div class="mast__container">
                    <span><time datetime="2024-04-20T00:00:00-07:00" itemprop="datePublished">Apr 20, 2024</time></span>
                    <h1 itemprop="name headline"></h1>
                    <!--span>Posted in 
                        {% for category in page.categories %}
                        <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <span></span-->
                </div>
            </header>

            <section class="section-padding bg-grey" itemprop="articleBody">
                <div class="post">
                    <!--
                        Start
                            As kids, we dream of going abroad, seeing the world, different cultures
                            What's one of the best things about being an international student?
                            What's one the best things about being a researcher?

                        End
                            What's one of the worst things about being an international student or more generally about living abroad?

                            Sure, you have friends all over the world. But how many of these places can you really call home? How many times do you return home after 
                            a long day at work and feel the unbearable pain in your heart of not being home?

                            Melbourne was the closest.

                        Flight:
                            Qantas
                                Very classy
                                Charging port was available
                                Quite a bumpy ride for about 2 hours in the beginning due to weather. Strong winds and rain in Tokyo on the day of flight
                                Welcome snacks: Pretzels
                                Dinner: Riggatoni pasta + broccoli + tomato sauce + veggies + bread
                                Icecream
                                Hot chocolate with marshmallows
                                Breakfast: Mushrooms + broccoli + carrots + potatoes + tomato sauce

                            13th March, 2024
                                Landed in Melbourne at ~8:00
                                Took some time to get baggage as the machine was being fixed
                                Very quick in completing immigration. No hassles at all (maybe because I was there only for a conference)
                                Quite a nice weather outside
                                Booked a SkyBus from Melbourne airport to South Cross station. 10:15 bus. ~30 minute ride (less traffic)
                                ~15 minute walk from the bus stop to the hotel
                                Checked-in, took some rest
                                Left for lunch at ~1:30pm
                                Had lunch a Veggie Tribe
                                Walk over to MCG, Rod Laver Arena
                                Royal Botanical Gardens
                                Walk back along the river and reach Fed Square
                                Sat for a while taking in the evening rush
                                Have dinner at Lord of the Fries

                            14th March, 2024
                                Have a nice breakfast - scrambled eggs, mushrooms, tomatoes, croissants, hash browns
                                Walk to Queen Victoria Market - buy lots of souvenirs. Spent almost the whole morning (~2.5 hours)
                                Go to conference venue for registration and collect the conference kit
                                Walk through the streets - Hosier Lane, AC/DC Lane, Flinders street
                                Buy a myki card
                                Go to Ultra Football (sale on jerseys - disappointment). Return
                                Walk to Marvel stadium. Take rest for some time
                                Leave again at ~5pm
                                Go over to the port to do the Solar System trail
                                    Princes Pier
                                    Lagoon Pier
                                    Port Melbourne Beach
                                    Kids playing beach volleyball
                                    St. Kilda beach
                                    Pier was closed
                                Return back to CBD
                                Have dinner
                                Prepare for the presentation next day

                            15th March, 2024
                                Presentation all day

                            16th March, 2024
                                Wake up late


                            17th March, 2024
                                Forgot to charge the wifi module
                                Go to the zoo
                                    Kangaroos
                                    Emus
                                    Koalas
                                Return to CBD and book skybus ticket
                                Return
                    -->

                   

                    <hr style="margin-top: 50px; width: 20%; height: 2px; color: #003471; background-color: #003471; border-color: #001329;">
                    <div class="mn-social-bottom-c" align="center">
                        <p>Share this article:</p>
                        <a class="mn-social-bottom" target="_blank" rel="noopener noreferrer"><i class="fa fa-lg fa-facebook"></i></a>
                        <a class="mn-social-bottom" target="_blank" rel="noopener noreferrer"><i class="fa fa-lg fa-twitter"></i></a>
                        <a class="mn-social-bottom" target="_blank" rel="noopener noreferrer"><i class="fa fa-lg fa-linkedin"></i></a>
                        <a class="mn-social-bottom" target="_blank" rel="noopener noreferrer" data-action="share/whatsapp/share"><i class="fa fa-lg fa-whatsapp"></i></a>
                        <span id="copy" tooltip="Copy to clipboard"><a class="mn-social-bottom"><i class="fa fa-lg fa-link"></i></a></span>
                        <div class="shareLink">
                            <div class="permalink">
                                <input class="textLink" id="text" type="text" name="shortlink" value="" id="copy-link" readonly="">
                            </div>
                        </div>
                    </div>
                    <hr style="margin-top: 50px; width: 80%; color: #003471; border-color: #001329; margin-bottom: 50px;">
                    <div id="disqus_thread"></div>
                </div>
            </section>
        </article>
        <section class="next">
            <a class="next__link" href="#" style="background-image: url('');">
                <div class="next__container">
                    <span>Read Next</span>
                    <h2></h2>
                </div>
            </a>
        </section>
        <script id="rendered-js" src="../../../js/blogs.js">
        </script>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            
            var disqus_config = function () {
                this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = window.location.href; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://india-kolkata.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </body>
</html>