<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Gokarna - Solace amidst Nature...</title>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
        <link href='../../../css/astrostyles.css' rel='stylesheet'>
    </head>
    <body>
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
                <a class="nav nav--white" href="../india.html">
                    <i class="fa fa-lg fa-arrow-left"></i>
                    <span>Back to Posts</span>
                </a>
                <figure class="absolute-bg mast__img" style="background-image: url('jithin-vijayamohanan-4OZwiBI-h1E-unsplash.jpg');"></figure>
                <div class="mast__container">
                    <span><time datetime="2017-07-06T00:00:00-07:00" itemprop="datePublished">Jul 06, 2017</time></span>
                    <h1 itemprop="name headline">Namma Sundara Bengaluru!!</h1>
                    <!--span>Posted in 
                        {% for category in page.categories %}
                        <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <span></span-->
                </div>
            </header>

            <section class="section-padding bg-grey" itemprop="articleBody">
                <div class="post">

                    <p style="font-size: 1em; margin-bottom: 26px; text-align: justify; text-indent: 2em;"> 
                        As the 56237 Mysore Bangalore Passenger train, docked in at platform 9 of the KSR Bangalore City Junction, we could see the city being lashed 
                        by the Rain God's wrath. People could be seen hurrying, with umbrellas and jackets to protect them. Some took shelter under the nearest roof 
                        while some just accepted their fate and waded through the collecting water. Cursing our timing, we started walking to our hotel, Sairam 
                        Residency, with heavy backpacks on our anterior as well as our posterior. We crossed highways and main roads, and walked through narrow 
                        by-lanes. The walk which was supposed to be just 15 minutes seemed like a lifetime. By the time we reached our hotel, we were soaked and 
                        completely exhausted. At that point, if the rooms had been like the ones in Gokarna, we would have surely broken down. Luckily, they were one 
                        of the best rooms we got on our trip. We ordered some fried rice and slept off while watching a UEFA Euro Cup match.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="me.jpg" alt="Me" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Can't skip Euros even on a trip 😛</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Our stop in Bangalore was just for a day. Kind of a rest-stop before another hectic schedule of the trip. In the morning the next day, we got 
                        up late and went for a nice breakfast. We were going to see the movie 'Udta Punjab' and then we were going to travel to different parts of 
                        Bangalore just to see the metropolitan city.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="metro.jpg" alt="Metro" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The unique Metro sign</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        One of the best parts about Bangalore is its 'Namma Metro' system, meaning 'Our Metro'. The metro system which is fast, comparably clean and 
                        less crowded, connects almost all the important parts of Bangalore. There are frequent trains from every station that give you a view of the 
                        city from above. We took the metro from Kempegowda Station to the Trinity station to go to Lido Mall where we were supposed to see the movie. 
                        We had already booked our tickets hence we entered the theater in no time. The movie was about the effect of drugs on the state of Punjab and 
                        its people. Although it was a dark movie, the issue tackled in it was very intriguing.
                    </p>

                    <p style="text-indent: 2em; margin-bottom: 26px; text-align: justify;">
                        After the movie, we decided to find a particular dish which my father had recommended - the Family Dosa, which is a 4-5 ft long dosa. We 
                        roamed around trying to find it but to no avail. The search had made us very hungry so we decided to eat at a McDonald's or a KFC. On our way 
                        to the McDonald's, we found a place called 'Holige Mane' which in Kannada means 'Puranpoli house'. The aroma of the freshly made holige was 
                        very enticing and we decided to give it a shot. Although it was a very small shop,they had managed to offer so many different varieties: 
                        coconut holige, badami holige, carrot holige, mawa holige etc. And when we tasted it, it was pure bliss. The holige just melted in our mouths. 
                        We ordered a few more and by the time we were full, we had shared almost 5 holiges among us. 
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="holige_mane.jpg" alt="Holige Mane" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The 'Holige Mane'</p>
                        </div>
                    </div>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="chinnaswamy.jpg" alt="Chinnaswamy" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The iconic M Chinnaswamy Stadium - although from outside 😛</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        After some more walking around along MG Road, we were hungry again. We then went to a KFC nearby and had some delicious and crispy chicken.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="cubbon_park.jpg" alt="Cubbon Park" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Cubbon Park</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        After a filling meal, we decided to go to see the iconic Chinnaswamy stadium. For this, we had to go to the Cubbon Park metro station. When 
                        you get out of Cubbon park, you feel that you have entered a completely different world. It had dense trees, wide and clean roads, tall 
                        buildings and a distinct aura of poshness. A walk in this area was enough to drive away all our exhaustion. We visited a book store there and 
                        then went to the Hard Rock Cafe to watch a musical. But we were unfortunately kicked out as we were not yet 21 😛.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="hard_rock_cafe.jpg" alt="Hard Rock Cafe" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">The Hard Rock Cafe - A place of great embarrassment for us</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Dejected, we went back to our hotel and had dinner as we were supposed to catch the 16236 Mysore-Tuticorin express to Madurai. As we were 
                        waiting for the cab, the hotel receptionist handed me a ring that I noticed was Himanshu's. He had forgotten it in the room.
                    </p>
                    <p style="margin-bottom: 26px; text-align: justify;">
                        And no, he hadn't realized it yet.
                    </p>
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Of course we did not tell him immediately. We decided to wait till he himself realized it. 😛
                    </p>
                    <p style="margin-bottom: 26px; text-align: justify;">
                        And it took quite a long time. Keep on reading to know when he notices the missing ring. 😛
                    </p>
                    <hr style="margin-top: 50px; width: 20%; height: 2px; color: #003471; background-color: #003471; border-color: #001329;">
                    <div class="mn-social-bottom-c" align="center">
                        <p>Share this article:</p>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a>
                        <a class="mn-social-bottom" target="_blank" data-action="share/whatsapp/share"><i class="fa fa-lg fa-whatsapp"></i></a>
                        <span id="copy" tooltip="Copy to clipboard"><a class="mn-social-bottom"><i class="fa fa-lg fa-link"></i></a></span>
                        <div class="shareLink">
                            <div class="permalink">
                                <input class="textLink" id="text" type="text" name="shortlink" value="" id="copy-link" readonly="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <section class="next">
            <a class="next__link" href="../madurai/madurai.html" style="background-image: url('');">
                <div class="next__container">
                    <span>Read Next</span>
                    <h2>Madurai mein Jigar thanda!</h2>
                </div>
            </a>
        </section>
        <script id="rendered-js" src="../../../js/blogs.js">
        </script>
    </body>
</html>