<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>The Wayfarer Troop: the beginning!</title>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
        <link href='../../../css/astrostyles.css' rel='stylesheet'>
    </head>
    <body>
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
                <a class="nav nav--white" href="../india.html">
                    <i class="fa fa-lg fa-arrow-left"></i>
                    <span>Back to Posts</span>
                </a>
                <figure class="absolute-bg mast__img" style="background-image: url('jithin-vijayamohanan-4OZwiBI-h1E-unsplash.jpg');">
                    <div class="img-caption">
                        <a href="https://unsplash.com/photos/a-train-station-at-sunset-4OZwiBI-h1E" style="color: #003471;" target="_blank">Jithin Vijayamohanan</a>
                    </div>
                </figure>
                <div class="mast__container">
                    <span><time datetime="2017-07-06T00:00:00-07:00" itemprop="datePublished">Jul 06, 2017</time></span>
                    <h1 itemprop="name headline">Namma Sundara Bengaluru!!</h1>
                    <!--span>Posted in 
                        {% for category in page.categories %}
                        <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <span></span-->
                </div>
            </header>

            <section class="section-padding bg-grey" itemprop="articleBody">
                <div class="post">

                    <!--p style="font-size: 1em; margin-bottom: 26px; text-align: justify; text-indent: 2em;"> 
                        <ol>
                            <li>Initial plan was to stay at Auroville because of recommendation. Did not book as it was not required. Did not even look where 
                                Auroville was and how to travel to city and back.
                            </li>
                            <li>Bus from Madurai to Pondicherry. Reached at ~7am</li>
                            <li>Bus to Auroville - realised that Auroville is way outside the main city. Public transportation to the city was less frequent,
                                autos were costly.</li>
                            <li>Booked a hotel nearby on the spot</li>
                            <li>Went to the city. Roamed the streets in the French quarter, trying to find a gift for Uncle Aunty.</li>
                            <li>Visited Aurobindo Ashram, took a walk on the beach. Sat on the rocks of Promenade Beach after lunch.</li>
                            <li>Travelled back to hotel and had dinner.</li>
                            <li>Next day, shifted quarters from a hotel near Auroville to a hotel in the city center.</li>
                            <li>Parcelled the gifts, booked scooters and went to Paradise Beach.</li>
                            <li> Spent the day there till sunset. Started raining, so travelled back.</li>
                            <li> Had dinner at Cafe Xtasy - famous wood-fired pizzas</li>
                            <li> Next day, decided to go to Chennai. Friend recommended us to try Chettinad Chicken at Ponnusamy Hotel.</li>
                            <li> Couldn't find it for a long time. Moving in circles.</li>
                            <li> Went to Marina beach after lunch.</li>
                            <li> Travelled back by state transport to Pondicherry. Had dinner at a roadside dosa stall.</li>
                            <li> Next day supposed to catch train to Kolkata. Walked along the beach, bought some eatables for the journey and went to station.</li>
                            <li> Himanshu was in Auroville and was very late. Arrived just in time, that too having hitchhiked.</li>
                        </ol>
                    </p-->

                    <p style="text-indent: 2em; font-size: 1em; margin-bottom: 26px; text-align: justify;">
                        The overnight bus from Madurai reached its destination early in the morning. Having planned to stay in the Auroville township, we had not 
                        booked any hotels for our stay. It was only after we boarded the bus to Auroville that we realised that it was a mistake not to. Being about 
                        15 km away from the city center, the frequency of public transport was quite low. Moreover, from the nearest bus stop to the main township 
                        would have been a tedious walk with our rucksacks.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        So, fatigued from the journey, we decided to stay at a hotel nearby for the time being and left moving to a hotel in the city center for the 
                        next day. After quickly freshening up, we set off to explore the final stop in the South Indian leg of our trip - Pondicherry.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        A coastal town which was part of the French territory in India, Pondicherry became independent and was inducted into the Indian Union only in 
                        1954. Due to this history, you can distinctly identify two cultural influences in this city. The part of the town away from the coast is 
                        majorly Tamil with lots of Chola architecture. On the other hand, the coastal area, also known as the White Town, feels like a completely 
                        different city.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="lanes.JPG" alt="lanes" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Yellow walls in White Town</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify; text-indent: 2em;">
                        The first task on our checklist was to purchase and send a gift to Uncle and Aunty as a token of our gratitude for the love and care with 
                        which they hosted us. We roamed the streets of Heritage Town trying to find something that would be appropriate and ended up spending the 
                        whole morning in just choosing the gift. By the time we were able to unanimously decide on one, it was quite late and we had ambled onto Marine 
                        Street just outside Sri Aurobindo Ashram. There was an exhibition going on and we decided to check it out. That meant another task getting 
                        added to the next day's check list 😛
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify; text-indent: 2em;">
                        Sri Aurobindo was a multifaceted Indian philosopher, journalist, yogi, maharishi, and poet who played a significant role in the Indian 
                        independence movement. In 1905 when Lord Curzon partitioned Bengal, Aurobindo was arrested on charges of planning and overseeing an attack on 
                        Magistrate Kingsford. During his solitary confinement in Alipore Jail, his view of life radically changed due to spiritual experiences and 
                        realizations. Consequently in 1910, he withdrew himself from all political activities and moved to Pondicherry. Here, he developed his integral 
                        yoga philosophy, emphasizing the synthesis of the spiritual and material aspects of life. Through his writings, such as "The Life Divine" and 
                        "Savitri," Aurobindo expounded his vision of a divine life on Earth and the evolution of human consciousness.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Inspired by Sri Aurobindo's journey, we stepped out of the Ashram discussing and admiring the various roles he played in our country's history. 
                        However, we were soon brought back to the present by our growling tummies. Having last eaten a hasty breakfast that morning, we craved for a 
                        wholesome lunch. We walked towards the beach, found a nice sea-view restaurant and gobbled away as we watched the waves crash onto the rocks. 
                        How could we then skip a walk along the long coastline?
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        We spent the evening washing away all our worries and thoughts in the waves that receded from under our feet. The incoming drizzle reminded us 
                        that it was time to take the long bus back to the hotel. After a nice dinner in our rooms, we settled in for the night.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify; text-indent: 2em;">
                        The next day started with us ticking off the previous day's backlog. Himanshu wanted to spend more time in Auroville, so the two of us shifted 
                        quarters from the hotel near Auroville to a hotel in the city center. We then got the gift wrapped, parcelled it to Uncle and Aunty and then 
                        moved on to the day's plan. On our itinerary for the day was a visit to Paradise beach, also known as Chunnambar beach. We booked a scooter 
                        and set out, with Z giving me instructions about the route. Being navigationally challenged and inept at driving, it took a long time to cover 
                        the short 10km distance. Initially we thought I had gotten us lost, but as we walked further through the dense trees the beach came into view.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="paradisebeach.png" alt="paradisebeach" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;"></p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        With an unspoilt, long coast lined with dense palm groves and devoid of tourists due to the weather, it was truly paradise. The 
                        picture-perfect seafront boasted of shining golden sands and shimmering waters. Everytime a wave receded, it left behind something. Seashells, 
                        pieces of rocks, broken glass and what not. It was as if giving us some kind of a message that every moment in life is going to leave behind 
                        a lesson. Sometimes these lessons are going to be as beautiful and pretty as the seashells. Some other times you will be hurt by the broken 
                        pieces of glass. But just like the waves, life too will go on. What will matter, is the experience.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        As I contemplated over these thoughts, the setting sun had created a mesmerising scenery. Reluctant to leave, the thundering clouds 
                        gave us a last warning so that we could reach back to the city safely. We ended our day with the famous wood-fired pizzas at Cafe Xtasy and 
                        retired to our rooms for the night.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="woodfiredpizza.png" alt="pizza" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">Wood-fired pizzas at Cafe Xtasy</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Our last day before we travelled northwards was another day trip to the state capital - Chennai. Our motivation? Chettinad chicken 😛. One of 
                        our friends had recommended us to taste this famous dish at the Ponnusamy Hotel. So we set off early that morning as it was approximately 
                        a 3.5 hour journey by road. By the time we reached Chennai, we were quite hungry and hence decided to have lunch before anything else. We 
                        kept searching for the hotel but to no avail as even with directions from the locals, we kept walking around in circles.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        After walking for about 2 hours, we had lost hope and were about to settle for having lunch at any nearby restaurant when we saw the large 
                        signboard indicating the hotel. What followed was a feast! The blend of the various roasted spices and the juiciness of the meat was worth all 
                        the hassle. Post lunch we went to Marina beach, the longest in India, and walked leisurely along the coast to digest the delightful flavors 
                        still lingering on our taste buds. Rain played spoilsport again and we had to leave early as strong winds began blowing and the clouds blocked 
                        out what would have been another beautiful sunset.
                    </p>

                    <div style="margin-left: auto; margin-right: auto;" class="polaroid">
                        <img src="ponnusamy.png" alt="ponnusamy" style="width: 100%; margin-top: 0px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
                        <div class="container">
                            <p style="font-style: italic;">It was right there all along &#128514;</p>
                        </div>
                    </div>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        We took the bus back to Pondicherry and reached at around 10pm, completely exhausted from the day's expedition. Dosas from a nearby roadside 
                        stall were enough for dinner as we were supposed to leave on our first long distance train of the trip to Kolkata the next day and we did 
                        not want any dietary complications.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Being a time freak, we reached the railway station well in advance and waited for Himanshu to arrive from Auroville. The next hour was quite 
                        an eventful one though. From getting to know that he was hitchhiking a ride to the railway station just before a long distance train to 
                        me constantly looking at the time and calling him over and over again; for a third person it must have been a hoot and a half.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Thankfully he arrived in time, we boarded the Puducherry Howrah Express and immersed ourselved into our respective books for the long journey 
                        north.
                    </p>
                    
                    <hr style="margin-top: 50px; width: 20%; height: 2px; color: #003471; background-color: #003471; border-color: #001329;">
                    <div class="mn-social-bottom-c" align="center">
                        <p>Share this article:</p>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
                        <a class="mn-social-bottom" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a>
                        <a class="mn-social-bottom" target="_blank" data-action="share/whatsapp/share"><i class="fa fa-lg fa-whatsapp"></i></a>
                        <span id="copy" tooltip="Copy to clipboard"><a class="mn-social-bottom"><i class="fa fa-lg fa-link"></i></a></span>
                        <div class="shareLink">
                            <div class="permalink">
                                <input class="textLink" id="text" type="text" name="shortlink" value="" id="copy-link" readonly="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <section class="next">
            <a class="next__link" href="../madurai/madurai.html" style="background-image: url('');">
                <div class="next__container">
                    <span>Read Next</span>
                    <h2>Madurai mein Jigar thanda!</h2>
                </div>
            </a>
        </section>
        <script id="rendered-js" src="../../../js/blogs.js">
        </script>
    </body>
</html>