<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Akhilesh Bhat</title>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet">
        <link href='../../css/astrostyles.css' rel='stylesheet'>
    </head>
    <body>
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="section-padding--lg mast rellax" data-rellax-speed="-4">
                <a class="nav nav--white" href="india.html">
                    <i class="fa fa-lg fa-arrow-left"></i>
                    <span>Back to Posts</span>
                </a>
                <figure class="absolute-bg mast__img" style="background-image: url('../../images/patternrecognition.png');"></figure>
                <div class="mast__container">
                    <span><time datetime="2017-02-28T00:00:00-07:00" itemprop="datePublished">Feb 28, 2017</time></span>
                    <h1 itemprop="name headline">The Sea, Sand, Beaches and much more...</h1>
                    <!--span>Posted in 
                        {% for category in page.categories %}
                        <a class="nav--white" href="{{ site.baseurl }}/category/{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <span></span-->
                </div>
            </header>

            <section class="section-padding bg-grey" itemprop="articleBody">
                <div class="post">

                    <p style="text-indent: 2em; font-size: 1em; margin-bottom: 26px; text-align: justify;"> 
                        Rucksacks packed, itineraries prepared, three young excited minds unaware of the many experiences that were to come, we were to start our 
                        journey from Mumbai – the city of dreams! What a coincidence! The city of dreams to start our dream journey!
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Coming from three different cities, the three of us met in Mumbai to board the Mumbai-Mangalore express heading towards Goa. Sitting in the 
                        sleeper bogie that night, were three young, excited souls, nervous with a mind full of so many weird plans and expectations. It felt as if 
                        none of us was going to stop talking that night. Even though we slept really late, the lashing rains, the chilly winds and the petrichor, 
                        ensured that all of us were up by 6am. 

                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        As we stepped out of the Madgaon railway station, we were swarmed by an eager herd of auto wallahs, who were willing to give us a ride. We 
                        had been admonished that such a situation would crop up and that it would be better to take a bus to Calangute. We tried to avoid all these 
                        wooers but they were willing to offer something which a bus ride would not. A quick, relaxed and a non-stop journey to our hotel instead of 
                        walking up to the bus stop, waiting for the bus and then a slow journey filled with regular stops. When we ignored the herd saying we would 
                        be taking the bus, one of them stepped forward and started calculating the fares for both auto and bus. Impressed by the math, we shook our 
                        heads and handed him Rs.800 for the ride. We later realized our folly and had learnt our first lesson on the first day of the trip itself.
                    </p>
                    
                    <p style="margin-bottom: 26px; text-align: justify;">
                        Hungry as we were, we immediately kept our luggage and went out to have lunch. We were eager to taste the Goan cuisine and hence ordered a 
                        chicken vindaloo. Here is a word of caution. If you are not fond of hot and sour food, never try Goan cuisine! After a filling meal, we set 
                        out to explore the city, the party capital of India (although it was an off season for the parties 😛)
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        We started off early in the morning for a trip to Old Goa. Old Goa, also known as Velha Goa (old in Portuguese), is a historical city in North 
                        Goa. It served as the capital of Portuguese India and hence boasts of a Portuguese influence on its architecture.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Learning from the previous day’s experience, we obediently took a bus to the iconic city and we were not disappointed. The journey through 
                        the bylanes, the small local houses with large courtyards, the coconut trees, and not to forget, the view of the Mandovi river on both sides 
                        as you go across the Mandovi bridge.
                    </p>
                    
                    <p style="margin-bottom: 26px; text-align: justify;">
                        As we walked past the Gandhi circle, it was as if we were transported to a completely different country. We saw two of the magnificent 
                        churches ever. On our right was the Basilica of Bom Jesus and on our left was the Church of St. Francis of Assisi. The grandeur of the two 
                        relics left us wondering which to explore first. The pure white marble, the exquisite green lawns and the splendid Portuguese-styled 
                        architecture, had us completely spellbound.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        When you go to Goa with your friends, it is customary that you go to the Chapora Fort. Yes! The iconic location where the Bollywood classic, 
                        Dil Chahta Hai was shot.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        Unfortunately, the fort which was once a Portuguese stronghold against the Marathas, now lies in ruins. Now, it is just a barren space of 
                        stones and bushes.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        A long bus journey back to Calangute was followed by a stroll along the windy Calangute beach. After a calculated dinner, we decided to walk 
                        back to our hotels; not because we wanted to, but because first, it was already too late till we had our dinner, second, it had started 
                        raining heavily so finding an auto was impossible and third, we felt guilty of spending too much in the first two days itself. 😛
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        But I think, this was a much needed walk as it was during this walk that the three of us actually became comfortable with each other. We 
                        opened up and that laid the foundation for an extremely enjoyable trip ahead 😀
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        The next day, a visit to the Candolim Beach was all that we could fit in our schedule before having to leave for Gokarna.
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        The tide was high and of course rain played spoil sport for our last day in Goa. Drenched completely wet, burdened with luggage, we reached 
                        just in time to catch our train to the next destination of our journey – GOKARNA!
                    </p>

                    <p style="margin-bottom: 26px; text-align: justify;">
                        P.S. – Apologies for the bad image quality. Phone cameras obviously cannot replace DSLRs.
                    </p>
                </div>
            </section>
        </article>
        <section class="next">
            <a class="next__link" href="#" style="background-image: url('');">
                <div class="next__container">
                    <span>Read Next</span>
                    <h2></h2>
                </div>
            </a>
        </section>
    </body>
</html>